<div style="text-align: center">
  <h1>Weather Events</h1>
  <input [(ngModel)]="city" placeholder="Enter city" />
  <input
    [(ngModel)]="startTime"
    placeholder="Enter start time (yyyy-MM-dd HH:mm:ss)"
  />
  <input
    [(ngModel)]="endTime"
    placeholder="Enter end time (yyyy-MM-dd HH:mm:ss)"
  />
  <button (click)="fetchWeatherData(city, startTime, endTime)">
    Get Weather Event
  </button>

  <!-- <div *ngIf="weatherEventData">
    <h3>Weather Event for {{weatherEventData.city}} from {{weatherEventData.startTime}} to {{weatherEventData.endTime}}:</h3>
    <p>Weather Condition of {{weatherEventData.severity}} {{weatherEventData.type}}</p>
    <p>Median Weather Value: {{weatherEventData.medianWeatherValue}}</p>
  </div> -->

  <div *ngIf="weatherEventData">
    <table>
      <thead>
        <tr>
          <th>S.no</th>
          <th>#</th>
          <th>City</th>
          <th>Event</th>
          <th>Severity</th>
          <th>Start Time</th>
          <th>End Time</th>
          <th>Humidity</th>
          <th>Pressure</th>
          <th>Temperature</th>
          <th>Wind Direction</th>
          <th>Wind Speed</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let record of weatherEventData; index as i">
          <td>{{ i }}</td>
          <td>{{ record.eventId }}</td>
          <td>{{ record.city }}</td>
          <td>{{ record.type }}</td>
          <td>{{ record.severity }}</td>
          <td>{{ record.startTime }}</td>
          <td>{{ record.endTime }}</td>
          <td>{{ record.humidity }}</td>
          <td>{{ record.pressure }}</td>
          <td>{{ record.temperature }}</td>
          <td>{{ record.wind_direction }}</td>
          <td>{{ record.wind_speed }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
