<div class="container-wide">
  <h2>Weather Events</h2>
  <h4>⚠️ Note: This includes data only from years 2016 and 2017</h4>

  <form class="filter-form">
    <input type="text" [(ngModel)]="city" name="city" placeholder="Enter city" />

    <input
      type="text"
      [(ngModel)]="startTime"
      name="startTime"
      placeholder="Start time (yyyy-MM-dd HH:mm:ss)"
    />

    <input
      type="text"
      [(ngModel)]="endTime"
      name="endTime"
      placeholder="End time (yyyy-MM-dd HH:mm:ss)"
    />

    <button type="button" (click)="fetchWeatherData(city, startTime, endTime)">
      Get Weather Event
    </button>
  </form>

  <div *ngIf="weatherEventData && weatherEventData.length > 0">
    <table class="event-table">
      <thead>
        <tr>
          <th>S.no</th>
          <th>#</th>
          <th>Event</th>
          <th>Severity</th>
          <th>Start Time</th>
          <th>End Time</th>
          <th>Humidity</th>
          <th>Pressure</th>
          <th>Temperature</th>
          <th>Wind Direction</th>
          <th>Wind Speed</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let record of weatherEventData; index as i">
          <td>{{ i + 1 }}</td>
          <td>{{ record.eventId }}</td>
          <td>{{ record.type }}</td>
          <td class="severity-cell" [ngClass]="record.severity.toLowerCase()">
            {{ record.severity }}
          </td>
          <td>{{ record.startTime }}</td>
          <td>{{ record.endTime }}</td>
          <td>{{ record.humidity }}</td>
          <td>{{ record.pressure }}</td>
          <td>{{ record.temperature }}</td>
          <td>{{ record.wind_direction }}</td>
          <td>{{ record.wind_speed }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
