<div class="container">
    <h2>Weather Event Predictor</h2>
    <form (ngSubmit)="submit()" #predictForm="ngForm">
      <label>City:</label>
      <input type="text" [(ngModel)]="input.city" name="city" required /><br />
  
      <label>Humidity:</label>
      <input type="number" [(ngModel)]="input.humidity" name="humidity" required /><br />
  
      <label>Pressure:</label>
      <input type="number" [(ngModel)]="input.pressure" name="pressure" required /><br />
  
      <label>Temperature (K):</label>
      <input type="number" [(ngModel)]="input.temperature" name="temperature" required /><br />
  
      <label>Wind Direction:</label>
      <input type="number" [(ngModel)]="input.wind_direction" name="wind_direction" required /><br />
  
      <label>Wind Speed:</label>
      <input type="number" [(ngModel)]="input.wind_speed" name="wind_speed" required /><br />
  
      <label>Start Time:</label>
      <input type="datetime-local" [(ngModel)]="input.startTime" name="startTime" required /><br />
  
      <label>End Time:</label>
      <input type="datetime-local" [(ngModel)]="input.endTime" name="endTime" required /><br />
  
      <button type="submit">Get Predictions</button>
    </form>
  
    <div *ngIf="predictions.length > 0">
      <h3>Top 3 Predictions</h3>
      <table>
        <thead>
          <tr>
            <th>Type</th>
            <th>Severity</th>
            <th>Probability</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let prediction of predictions">
            <td>{{ prediction.type }}</td>
            <td>{{ prediction.severity }}</td>
            <td>{{ prediction.probability | percent: '1.0-2' }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>